/* SINGLE POST */
#sas-single-post {
  margin: 60px 0;
  color: #000000;
}

.sas-breadcrumb {
  font-size: 18px;
  line-height: 28px;
  color: #808080;
  margin-bottom: 20px;
}

.sas-breadcrumb i {
  margin: 0 7px 0 11px;
}

.sas-single-post-header .post-title {
  font-size: 50px;
  font-weight: 700;
}

.single-post .featured-img {
  height: 100%;
  width: 100%;
  min-height: unset;
  position: relative;
  margin-bottom: 25px;
}

.single-post .featured-img::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.single-post .post-content a {
  color: #f40000;
}

.single-post .col-left,
.single-post .col-right {
  margin-bottom: 30px;
}

.single-post-author-box span,
.single-post .post-tags span,
.single-post .post-categories span {
  font-weight: 700;
}

.single-post .post-tags a,
.single-post .post-categories a {
  color: #ff0000;
  text-transform: capitalize;
}

/* RELATED POSTS */
.related-posts > .headline {
  margin-bottom: 30px;
  font-weight: 700;
}

/* GRID3 */
.articles-three-grid .orbit-thumbnail-bg {
  min-height: 270px;
}

.articles-three-grid .post-desc{
  color: #333333;
}

.articles-three-grid .post-title {
  font-weight: 700;
}

.articles-three-grid .meta,
.sas-single-post-header .meta,
.single-post .post-content p {
  display: block;
  margin: 10px 0;
  font-weight: 500;
}

.articles-three-grid .post-excerpt * {
  color: #808080;
  display: inline;
  font-weight: 500;
}

.articles-three-grid .meta,
.sas-single-post-header .meta,
.single-post .post-content p,
.articles-three-grid .post-excerpt {
  font-size: 18px;
  line-height: 26px;
}

.articles-three-grid .read-more {
  font-weight: 700;
  text-decoration: none;
}

/* -------------------------- MEDIA QUERIES ------------------------- */

@media(max-width: 960px){
  .single-post .col-left,
  .single-post .col-right {
    width: 100%;
  }
}
